.chats__send-menu
	display: none
	position: absolute
	top: -150px
	flex-direction: column

	.chats__send-item:nth-child(2)
		margin: 15px 0

	.chats__send-item > span
		margin-left: 15px
		font-size: 12px
		line-height: 14px

	.chats__send-item > *
		vertical-align: middle