div(class="chats__send-menu pop-up-menu")
	each position in footerMenu
		label(class="chats__send-item")
			img(src= position.src)
			input(type="file" accept= position.accept name= position.name)
			span(class="chats__send-value") #{position.descr}
