label(class="label")
	input(type= fieldType placeholder=" " class="input" name= fieldName form= formId pattern= fieldPattern autocomplete= "off" required)
	span(class="input-placeholder") #{placeholder}
	#{spanError}
