@use './utiles/_reset'
@use './utiles/vars'
@use './utiles/common'
@use '../components'
@use '../pages'

body
  margin: 0 auto
  font-family: vars.$mainFont
  background-color: #efefef
  
.container
  width: 100%
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  background-color: white
  
  
