- var pageTitle = "Messenger"

- 
    var fieldsRegistration = [
        {
            type: "email",
            name: "email",
            placeholder: "Почта"
        },
         {
            type: "text",
            name: "login",
            placeholder: "Логин"
        },
         {
            type: "text",
            name: "first_name",
            placeholder: "Имя"
        },
         {
            type: "text",
            name: "second_name",
            placeholder: "Фамилия"
        },
         {
            type: "phone",
            name: "phone",
            placeholder: "Телефон"
        },
         {
            type: "password",
            name: "password",
            placeholder: "Пароль"
        },
         {
            type: "password",
            name: "password",
            placeholder: "Пароль (еще раз)"
        },
    ]
- 
    var fieldsLogin = [
        {
            type: "text",
            name: "login",
            placeholder: "Логин"
        },
         {
            type: "password",
            name: "password",
            placeholder: "Пароль"
        },
    ]
- 
    var userProfile = [
        {
            field: "Почта",
            value: "pochta@yandex.ru",
            fieldType: "email"
        },
        {
            field: "Логин",
            value: "ivanivanov",
            fieldType: "text"
        },
        {
            field: "Имя",
            value: "Ivan",
            fieldType: "text"
        },
        {
            field: "Фамилия",
            value: "Иванов",
            fieldType: "text"
        },
        {
            field: "Имя в чате",
            value: "Иван",
            fieldType: "text"
        },
        {
            field: "Телефон",
            value: "+7(909)967 30 30",
            fieldType: "phone"
        }

    ]

- 
    var fieldsChangePass = [
        {
            label: "Старый пароль",
            fieldType: "password",
            value: "123456"
        },
        {
            label: "Новый пароль",
            fieldType: "password",
            value: "ffff"
        },
        {
            label: "Повторите новый пароль",
            fieldType: "password",
            value: "ffff"
        }
    ]

- 
    var headerMenu = [
        {
            src: "/imgs/cross.png",
            descr: "Добавить пользователя"
        },
        {
            src: "/imgs/cross.png",
            descr: "Удалить пользователя"
        },
        {
            src: "/imgs/bin.png",
            descr: "Удалить чат"
        }
    ]

- 
    var footerMenu = [
        {
            src: "/imgs/attach_media.png",
            accept: "video/*, image/*",
            name: "attach_media",
            descr: "Фото или видео"
        },
        {
            src: "/imgs/attach_file.png",
            accept: "text/*, application/*",
            name: "attach_file",
            descr: "Файл"
        },
        {
            src: "/imgs/attach_location.png",
            accept: "application/*",
            name: "attach_location",
            descr: "Локация"
        }
    ]

