mixin simple-field(labelTitle, inputType, formId, fieldValue)
    div(class="profile__fields")
        label(class="profile__field") #{labelTitle}
        input(class="profile__field-value" type=inputType, form=formId value=fieldValue) 
