extends includes/pageTemplate.pug


append content 
    nav
        ul(class="link-container")
            li: a(class="primary-title" href="./src/pages/login/index.html", target="_blank") Логин        
            li: a(class="primary-title" href="./src/pages/registration/index.html", target="_blank") Регистрация        
            li: a(class="primary-title" href="./src/pages/chats/index.html", target="_blank") Чаты        
            li: a(class="primary-title" href="./src/pages/profile/index.html", target="_blank") Профиль        
            li: a(class="primary-title" href="./src/pages/change-profile/index.html", target="_blank") Изменить данные        
            li: a(class="primary-title" href="./src/pages/change-pass/index.html", target="_blank") Изменить пароль        
            li: a(class="primary-title" href="./src/pages/error404/index.html", target="_blank") Ошибка 404        
            li: a(class="primary-title" href="./src/pages/error500/index.html", target="_blank") Ошибка 500        

