form(class="modal__form attach-modal-form" id="attach-avatar")
	label(class="attach-label")
		#{inputFile}
		p(class="attach-placeholder") Выбрать файл на компьютере
	#{btnMain}
	p(class="attach-not-chosen") 
