div(class="chats__header-menu pop-up-menu")
	each position in headerMenu
		div(class="chats__header-menu-item")
			div(class="chats__header-menu-action")
				img(src=position.src)
			span #{position.descr}
