extends ../../pug/includes/pageTemplate.pug

append config 
    include ../../pug/includes/config.pug
    include ../../pug/includes/devConfig.pug

include ../../components/profile-aside/profile-aside.pug
include ../../components/simple-field/simple-field.pug
include ../../components/btn-main/btn-main.pug
include ../../components/avatar/avatar.pug
append content 
    div(class="profile")
        +profile-aside("../profile/index.html")
        div(class="profile__content")
            +avatar("", "profile__avatar")
            form(class="simple-form profile__user-data profile__change-pass-form" id="pass-change")
                each field in fieldsChangePass
                    +simple-field(field.label, field.fieldType, field.fieldName, "pass-change", field.value)
                +btn-main("Сохранить")
