extends ../../pug/includes/pageTemplate.pug

append config 
    include ../../pug/includes/config.pug
    include ../../pug/includes/devConfig.pug

include ../../components/chat/chat.pug
include ../../components/chat-header/chat-header.pug
include ../../components/chat-content/chat-content.pug
include ../../components/chat-footer/chat-footer.pug
include ../../components/modal-input/modal-input.pug

append content 
    +modal-input("Добавить пользователя", "addUser", "Добавить")

    div(class="chats")
        div(class="chats__aside")
            nav(class="chats__to-profile")
                a(class="chats__to-profile-link" href="../profile/index.html") Профиль &gt;

            form(class="chats__search" metod="get" id="search")
                input(type="search" name="search" class="chats__search-field" placeholder="Поиск")
                img(src="../../../imgs/search_sign.png" class="chats__search-sign")

            div(class="chats__list")
                if(chatList.length === 0)
                    p(class="chats__none") Вы ещё никого не пригласили
                else
                    each chat in chatList
                        +chat(chat.avatarSrc, chat.name, chat.messagePre, chat.time, chat.unreadNum)
        div(class="chats__chat-view")
            if(!isChatSelected)
                p(class="chats__none") Выберите чат чтобы отправить сообщение
            else 
                +chat-header(userSelected.avatarSrc, userSelected.name, headerMenu)
                +chat-content(
                    "19 мая", 
                    "Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.  Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.",
                    "Круто!",
                    "10:54")
                +chat-footer(footerMenu)
