extends ../../pug/includes/pageTemplate.pug

append config 
    include ../../pug/includes/config.pug
    include ../../pug/includes/devConfig.pug

include ../../components/profile-aside/profile-aside.pug
include ../../components/modal-attach/modal-attach.pug
include ../../components/avatar/avatar.pug
append content 
    +modal-attach("formId")
    div(class="profile")
        +profile-aside("../chats/index.html")
        div(class="profile__content")
            +avatar("", "profile__avatar")
            p(class="profile__user-name click") Ivan
            div(class="profile__user-data")
                each field in userProfile 
                    div(class="profile__fields")
                        p(class="profile__field") #{field.field}
                        p(class="profile__field-value") #{field.value}
            div(class="profile__actions")
                a(href="../change-profile/index.html" class="profile__change-data") Изменить данные 
                a(href="../change-pass/index.html" class="profile__change-data") Изменить пароль 
                a(href="../chats/index.html" class="profile__exit") Выйти 
