div(class="chats__footer")
	form(id="send-msg" action="" class="chats__send-form")
		#{popupFooter}
		#{imgPopup}
		input(type="text" name="message" class="chats__send-msg-input" placeholder="Сообщение")
		#{btnRound}
