div(class="chats__footer")
	form(id="send-msg" action="" class="chats__send-form")
		#{popupFooter}
		img(src="/imgs/attach_sign.png" class="chats__send-menu-btn")
		input(type="text" name="message" class="chats__send-msg-input" placeholder="Сообщение")
		#{btnRound}
